modules/workflow-close-ticket/workflow-summary.asl.json
{
    "Comment": "Summarise the ticket comments using a LLM",
    "StartAt": "GetComments",
    "States": {
        "GetComments": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": {},
            "Arguments": {
                "FunctionName": "{% '${lambda_ticket_comments_name}:$LATEST' %}",
                "Payload": {
                    "path": {
                        "ticket_id": "{% $states.input.detail.id %}"
                    }
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Assign": {
                "ticket_id": "{% $number($states.input.detail.id) %}",
                "comments": "{% $filter($states.result.Payload.body.comments, function($o) {$not($contains($o.plain_body, /* 'Summary generated by GATA' */ 'generated'))}) ~> $map(function($o) {{'author_id': $o.author_id, 'body': $o.plain_body, 'public': $o.public}}) /* Ignore old summaries if reopened */ %}",
                "submitter": "{% $number($states.input.detail.submitter_id) %}"
            },
            "Next": "SingleComment?"
        },
        "SingleComment?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $type($comments) != \"array\" %}",
                    "Next": "NoAction",
                    "Comment": "Yes"
                }
            ],
            "Default": "LookupUsers"
        },
        "NoAction": {
            "Type": "Succeed",
            "Comment": "If a ticket only has a single comment, we won't waste our time summarising it."
        },
        "LookupUsers": {
            "Type": "Map",
            "Items": "{% $distinct($comments[].author_id) %}",
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "LookupUser",
                "States": {
                    "LookupUser": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Output": "{% {$string($states.result.Payload.body.user.id): $states.result.Payload.body.user.role} %}",
                        "Arguments": {
                            "FunctionName": "{% '${lambda_user_get_name}:$LATEST' %}",
                            "Payload": {
                                "path": {
                                    "user_id": "{% $states.input %}"
                                }
                            }
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 3,
                                "BackoffRate": 2,
                                "JitterStrategy": "FULL"
                            }
                        ],
                        "End": true
                    }
                }
            },
            "Assign": {
                "users": "{% $merge($states.result) %}"
            },
            "Next": "SummariseTicket"
        },
        "SummariseTicket": {
            "Type": "Task",
            "Resource": "arn:aws:states:::bedrock:invokeModel",
            "Next": "PutComment",
            "Arguments": {
                "ModelId": "${bedrock_model}",
                "Body": {
                    "system": [
                        {
                            "text": "{% ${prompt} %}"
                        }
                    ],
                    "messages": "{% $map($comments, function($o) {{'role':'user','content':[{'text':$join([$lookup($users, $string($o.author_id)) = 'end-user' ? $o.author_id = $submitter ? 'USER' : 'REQUESTOR' : 'AGENT', $o.public ? ': ' : '(PRIVATE): ', $o.body])}]}}) %}",
                    "inferenceConfig": {
                        "temperature": 0.1,
                        "topP": 1,
                        "maxTokens": 512
                    }
                }
            },
            "Output": {
                "summary": "{% $states.result.Body.output.message.content[0].text %}"
            }
        },
        "PutComment": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "{% '${lambda_ticket_update_name}:$LATEST' %}",
                "Payload": {
                    "path": {
                        "ticket_id": "{% $ticket_id %}"
                    },
                    "payload": {
                        "ticket": {
                            "comment": {
                                "body": "{% $join([$states.input.summary, ' ', ' ', '🤖 Summary generated by [GATA](https://gata.works) 🐱', ' '], '\n') /* The spaces for new empty lines */ %}",
                                "public": false
                            }
                        }
                    }
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        }
    },
    "QueryLanguage": "JSONata"
}